# Archivos de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Entornos virtuales
venv/
.env

# Ignorar datasets crudos pesados (cualquier subcarpeta dentro de data/raw)
data/raw/**/*.csv
data/raw/**/*.xlsx
data/raw/**/*.zip